<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CssCafe</title>
    <meta name="description" content="CSS cafeの公式webサイトです">
    <meta name="keywords" content="CSS cafe,カフェ,コーヒー">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="home">

<%= render 'pages/header' %>

<%= yield %>
</body>
</html>



<!-- ここからheader -->

    <!-- <header id="top">
      <h1>CSS Cafe</h1>
      <nav>
        <ul class="clearfix">
          <li class="current"><a href="index.html">ホーム</a></li>
          <li><a href="#">商品情報</a></li>
          <li><a href="#">店舗紹介</a></li>
          <li><a href="#">アクセス</a></li>
          <li><a href="#">会社情報</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </nav>
    </header> -->
<!-- ここまでheader -->

<!-- ここからmain -->
  <!-- <main class="clearfix"> -->
    <!-- <div id="main_image"> -->
      <!-- <img src="cafe.jpg" alt="CSS Cafe">
      <%#= image_tag 'cafe.jpg', alt: 'CSS Cafe' %>
    <!- </div>
    <div id="main_content">
      <section id="info">
        <h2>お知らせ</h2>
        <dl>
          <dt>2018年3月10日</dt>
          <dd>リニューアルオープンしました。</dd>
          <dt>2018年4月15日</dt>
          <dd>4/27（金）は設備メンテナンスのため休業いたします。</dd>
          <dt>2018年4月20日</dt>
          <dd>ゴールデンウィークは休まず営業いたします。</dd>
        <dl>
      </section>
      <section id="campaign">
        <h2>キャンペーン情報</h2>
        <ul>
          <li>日頃の感謝を込めて、パスタ全品がいつもよりお得に！</li>
          <li>平日11時から14時までお得なランチタイムを実施中。</li>
          <li>バイオリン演奏付きのスペシャルディナーイベントの早期予約受付中。</li>
        </ul>
      </section>
    </div> -->
<!-- ここからsidebar -->
<%#= render 'pages/aside' %>
  <!-- <aside id="sidebar">
    <ul>
      <li>
        <a href="#">
          <img src="http://via.placeholder.com/300x200" alt="バナー1">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="http://via.placeholder.com/300x200" alt="バナー2">
        </a>
      </li>
    </ul>
  </aside> -->
<!-- ここまでsidebar -->
<!-- </main> -->
<!-- ここまでmain -->

<!-- ここからfooter -->
<%#= render 'pages/footer' %>
  <!-- <footer>
    <ul>
      <li><a href="index.html"</a>ホーム</li>
      <li><a href="#"</a>商品情報</li>
      <li><a href="#"</a>店舗紹介</li>
      <li><a href="#"</a>アクセス</li>
      <li><a href="#"</a>会社情報</li>
      <li><a href="#"</a>お問い合わせ</li>
    </ul>

    <small>&copy; 2018 CSS Cafe</small>
  </footer> -->
<!-- ここまでfooter -->
